# Feature Selection

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\student-dropout-analysis\master_file1.csv", dtype={'SID': str})
df.head()

,SID,Grade,late_mins,leave_early_mins,duration,duration_pct,present_sessions,joined_sessions,duration_std,score_avg_1,...,score_avg_1_pctile,score_avg_2_pctile,quiz_completion_pct,has_quiz_data,called_on_days,response_pct,success_call_days,call_pctile,days_to_end,dropout
0,25000044,Grade 3,7.000000,30.333333,13.333333,25.806435,1,3,15.307950,NaN,...,NaN,NaN,NaN,0,4,100.0,4,78.779600,101,True
1,00002547,EFL K5,1.941176,2.220588,56.147059,93.033927,66,34,10.591837,NaN,...,NaN,NaN,NaN,0,4,100.0,4,78.779600,1,False
2,19040015,Grade 3,8.945205,3.931507,42.616438,77.144979,63,30,17.122622,NaN,...,NaN,NaN,NaN,0,0,0.0,0,18.518519,190,True
3,19040020,Grade 9-12,10.454545,4.636364,43.090909,74.119517,10,9,16.706014,51.570812,...,97.581489,85.515091,100.000000,1,0,0.0,0,46.290142,114,True
4,19040024,Grade 9-12,10.326316,9.926316,40.031579,66.734364,79,55,18.633904,45.152751,...,81.269850,77.886792,82.855095,1,0,0.0,0,46.290142,7,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1658 entries, 0 to 1657
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SID                  1658 non-null   object
 1   Grade                1658 non-null   object
 2   late_mins            1658 non-null   float64
 3   leave_early_mins     1658 non-null   float64
 4   duration             1658 non-null   float64
 5   duration_pct         1658 non-null   float64
 6   present_sessions     1658 non-null   int64
 7   joined_sessions      1658 non-null   int64
 8   duration_std         1637 non-null   float64
 9   score_avg_1          1581 non-null   float64
 10  score_avg_2          1581 non-null   float64
 11  score_avg_1_pctile   1581 non-null   float64
 12  score_avg_2_pctile   1581 non-null   float64
 13  quiz_completion_pct  1581 non-null   float64
 14  has_quiz_data        1658 non-null   int64
 15  called_on_days       1658 non-null   int64
 16  response_pct         1658 non-null   float64
 17  success_call_days    1658 non-null   int64
 18  call_pctile          1658 non-null   float64
 19  days_to_end          1658 non-null   int64
 20  dropout              1658 non-null   bool
dtypes: bool(1), float64(12), int64(6), object(2)
memory usage: 260.8+ KB

In [6]:
df_num = df.drop(columns=['SID', 'Grade'])
df_num

,late_mins,leave_early_mins,duration,duration_pct,present_sessions,joined_sessions,duration_std,score_avg_1,score_avg_2,score_avg_1_pctile,score_avg_2_pctile,quiz_completion_pct,has_quiz_data,called_on_days,response_pct,success_call_days,call_pctile,days_to_end,dropout
0,7.000000,30.333333,13.333333,25.806435,1,3,15.307950,NaN,NaN,NaN,NaN,NaN,0,4,100.0,4,78.779600,101,True
1,1.941176,2.220588,56.147059,93.033927,66,34,10.591837,NaN,NaN,NaN,NaN,NaN,0,4,100.0,4,78.779600,1,False
2,8.945205,3.931507,42.616438,77.144979,63,30,17.122622,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0,18.518519,190,True
3,10.454545,4.636364,43.090909,74.119517,10,9,16.706014,51.570812,51.570812,97.581489,85.515091,100.000000,1,0,0.0,0,46.290142,114,True
4,10.326316,9.926316,40.031579,66.734364,79,55,18.633904,45.152751,54.777384,81.269850,77.886792,82.855095,1,0,0.0,0,46.290142,7,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1653,11.875000,7.750000,40.500000,67.514969,7,3,19.856629,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0,12.264151,1,False
1654,25.600000,19.600000,14.400000,24.000000,1,2,15.820872,5.722222,23.409091,22.037915,25.118483,22.222222,1,0,0.0,0,14.565217,39,True
1655,13.600000,19.400000,26.100000,44.137931,8,4,14.594139,0.000000,0.000000,10.456731,10.456731,26.376812,1,0,0.0,0,9.925094,17,False
1656,3.615385,2.846154,53.615385,88.619100,13,6,10.743513,5.283333,14.409091,19.075829,21.919431,25.000000,1,0,0.0,0,14.565217,8,False
1657,6.909091,0.000000,52.000000,88.073463,11,6,9.011104,32.411594,51.941729,32.932692,33.894231,62.101449,1,0,0.0,0,9.925094,1,False

In [7]:
corr = df_num.corr()['dropout'].abs().sort_values(ascending=False)
corr

dropout                1.000000
days_to_end            0.885056
present_sessions       0.626532
joined_sessions        0.625902
score_avg_2            0.505923
score_avg_1_pctile     0.450275
score_avg_2_pctile     0.449338
score_avg_1            0.436077
quiz_completion_pct    0.412410
call_pctile            0.290035
called_on_days         0.275327
success_call_days      0.270295
response_pct           0.230476
has_quiz_data          0.201634
duration_pct           0.174979
late_mins              0.163479
duration               0.140054
leave_early_mins       0.132575
duration_std           0.040286
Name: dropout, dtype: float64